<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="cv">
    <span> <a href="/" >⬅️Listes des candidats</a> </span> <br>
    <div class="cv-row">
        <div class="cv-wrap">
            <div class="cv-name" th:text="${'CV de ' +#strings.capitalize(candidat.prenom) + ' ' + #strings.toUpperCase(candidat.nom)}"></div>
            <div class="cv-subname">Senior Frontend Developer</div>

            <div class="info">
                <p target="_blank" th:text="${candidat.date_naiss}"></p>
                <p><a target="_blank" th:href="'https://www.google.com/maps/search/' + ${candidat.adresse}" th:text="${candidat.adresse}"></a></p>
                <p><a target="_blank" th:href="${'mailto:' + candidat.email}"></a></p>
                <p><a target="_blank" th:href="${'tel:' + candidat.telephone}" th:text="${candidat.telephone}"></a></p>
                <p></p>
            </div>

            <div class="cv-content">
                <div class="head-title">Expériences</div>

                <div class="cv-content-item" th:each="experience : ${candidat.cv_experiences}">
                    <div class="title"><p th:text="${experience.titre}"></p></div>
                    <div class="subtitle"><p th:text="${experience.entreprise}"></p></div>
                    <div class="time"><p th:text="${experience.date_debut} + ' - ' + ${experience.date_fin} + ' à ' + ${experience.ville}"></p></div>
                    <div class="exprecince"><p th:text="${experience.description} + ' (' + ${experience.type_contrat}+ ').'"></p></div>
                </div>
            </div>

            <div class="cv-content">
                <div class="head-title">Formations</div>

                <div class="cv-content-item" th:each="formation : ${candidat.cv_formation}">
                    <div class="title"><p th:text="${formation.titre}"></p></div>
                    <div class="subtitle"><p th:text="${formation.ecole}"></p></div>
                    <div class="time"><p th:text="${formation.date_debut} + ' - ' + ${formation.date_fin} + ' à ' + ${formation.ville}"></p></div>
                </div>
            </div>
        </div>
        <div class="cv-wrap">
            <!--<div class="avatar">
                <img src="https://image-aws-us-west-2.vsco.co/04d5df/155672998/5ee7bf4f43a34b5b3c000002/720x960/vsco5ee7bf53b94de.jpg" alt="" />
            </div>-->

            <div class="cv-skills">
                <div class="head-title">Compétences principales</div>

                <div class="cv-skills-item" th:each="competence_principale : ${candidat.cv_competence_principale}">
                    <div class="title"><p th:text="${competence_principale.titre}"></p></div>
                </div>
            </div>

            <div class="cv-skills">
                <div class="head-title">Compétences secondaires</div>

                <div class="cv-skills-item" th:each="competence_secondaire : ${candidat.cv_competence_secondaire}">
                    <div class="title"><p th:text="${competence_secondaire.titre}"></p></div>
                </div>
            </div>
            
        </div>
    </div>

</div>

</body>
</html>